/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 0px;
}

.jumbotron {
padding-top: 50px;
}

.panel-body {
	height: 100px;
}

#map {
	position: relative;
	top: 20px;
	bottom: 20px;
	height: 650px;
	width: 100%;
	max-width: none;
	min-width: 0px;
}

.navbar {
	display: inline-block;
	float: none;
  	margin-bottom: 20px;
  	text-align: center;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#map-canvas{
	position: relative;
	top: 20px;
	height: 700px;
	width: 100%;
}

#legend {
background: #FFF;
padding: 10px;
margin: 5px;
font-size: 12px;
font-family: Arial, sans-serif;
}

.color {
border: 1px solid;
height: 12px;
width: 12px;
margin-right: 3px;
float: left;
}
.red {
background: #C00;
}

.yellow {
background: #FF3;
}

.green {
background: #6F0;
}

.blue {
background: #06C;
}

.purple {
background: #63C;
}